@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap')

// color variables
$Cyan: #2ACFCF
$Dark-Violet: #3B3054
$Red: #F46262
$Gray: #BFBFBF
$Grayish-Violet: #9E9AA7
$Very-Dark-Blue: #35323E
$Very-Dark-Violet: #232127

// ---------------------- global styles --------------------------
*, *::before, *::after
	box-sizing: border-box

body
	margin: 0
	font-family: 'Poppins', sans-serif
	color: $Very-Dark-Blue

.container
	max-width: 1135px
	margin: 0 auto
	padding: 0 1rem

.flex
	display: flex
	justify-content: center
	align-items: center

ul
	padding: 0
	list-style: none

a
	text-decoration: none

img
	max-width: 100%

.btn
	font-family: 'Poppins', sans-serif
	padding: .4rem 1.4rem
	border: none
	letter-spacing: .5px
	border-radius: 30px
	background: $Cyan
	color: #fff
	cursor: pointer

.btn-big
	padding: .9rem 2.4rem
	font-size: 1.2rem
	font-weight: 700

// ---------------------- content styles -------------------------- 
// header styles
header
	padding: 3rem 0 0
	.nav
		justify-content: space-between

		&__link
			margin-left: 2.2rem
			a
				color: $Grayish-Violet
				font-weight: 700
				font-size: .95rem
		&__link.btn
			margin-left: 2rem
			a
				color: white
				font-size: .9rem

// hero section styles
.hero
	margin: 0 0 5rem
	overflow-X: hidden
	margin-top: -3rem
	height: 40rem

	.flex
		justify-content: space-between
		padding: 7rem 1rem

	.text
		h1
			font-size: 5rem
			letter-spacing: -1.7px
			line-height: 1.2em
			margin: 3.5rem 0 0

		p
			color: $Grayish-Violet
			font-size: 1.3rem
			max-width: 80%
			line-height: 1.7em
			letter-spacing: .5px
			margin: 0 0 3rem

	.image
		position: relative
		left: 9rem
		top: 2rem
		transform: scale(1.6)

// shorten section styles
.shorten
	background: lighten($Gray, 22%)
	.inner
		padding: 3.5rem
		background: url('images/bg-shorten-desktop.svg') no-repeat center/ cover
		background-color: $Dark-Violet
		border-radius: 10px
		position: relative
		top: -5rem

		form
			justify-content: space-between
			.input
				width: 78%

				input
					width: 100%
					border: none
					border-radius: 10px
					padding: 1.5rem 2rem

					&::placeholder
						font-size: 1.2rem
						color: $Grayish-Violet
						font-weight: 500
						font-family: 'Poppins', sans-serif

			button
				@extend .btn-big
				border: none
				background: $Cyan
				color: white
				font-weight: 700
				font-size: 1.2rem
				letter-spacing: .5px
				padding: 1.3rem 3rem
				border-radius: 10px

// statistics section styles
.statistics
	text-align: center
	h2
		font-size: 2.4rem
		margin-bottom: 1rem
	p
		margin-top: 0
		color: $Grayish-Violet
		letter-spacing: .5px
		font-size: 1.1rem
		max-width: 48%
		margin: 0 auto
		line-height: 1.7rem

	.cards
		padding-top: 7rem
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
		grid-gap: 3rem 2rem

		.card
			text-align: left
			background: white
			border-radius: 7px
			padding: 2rem

			p
				letter-spacing: 0
				font-size: 1rem
				max-width: 100%

		.top
			margin-top: -2.5rem

		.bottom
			margin-top: 2.5rem
